# 27/6/23 day1 This is heading

This is Python3

## Keyword and identifier

kewords are some reserved words in python which have some meaning associated to it.
Identifiers are something which user is going to declare and and provide meaning it.
Rules for creating identifiers:
*1. We can not use keywords as identifier.
*2. Identifies always starts with _ or alphabets.
*3. Special characters are not supported.

In [ ]:
_megh@=10

NameError: name '_megh' is not defined

In [ ]:
_megha_2=100

In [ ]:
2_var2=70

SyntaxError: invalid decimal literal (3921375335.py, line 1)

In [ ]:
import=400

SyntaxError: invalid syntax (1199368929.py, line 1)

keyword

# case sensitivity

In [ ]:
var=100
Var=200

Python is case sensitive

In [ ]:
_var3=100
_Var3

NameError: name '_Var3' is not defined

because the above two are different in case.

In [ ]:
_var3=100  #is used for the statement/comment.
_var3  #each line in python is called statement instead of LOC

100

as the case is same the answer came

Once you declaire identifier then you have to call that identifier in that same case only

# What is Python?

*Python isa programming language
*high level general purpose
*Interpreted
*It uses C as it's foundation. CPython and version is Python3

In [ ]:
#string
my_address = "Bangalore"
my_address

'Bangalore'

In [ ]:
#integer
int_1=-50
print(int_1) #print the output

-50

In [ ]:
print(type(int_1)) #(type) is built-in helps in check data type

<class 'int'>

In [ ]:
#float/decimal
float_1=40.0
print(float_1)

40.0

In [ ]:
print(type(float_1))

<class 'float'>

#String
#''or ""

In [ ]:
str_1="we have a value @20.56"

In [ ]:
print(type(str_1))

<class 'str'>

In [ ]:
print(str_1)

we have a value @20.56

boolean- true or false

In [ ]:
bool_2=True
bool_3=False
print(bool_2)
print(bool_3)

True
False

In [ ]:
print(type(bool_2))

<class 'bool'>

In [ ]:
bool_4="" #without space it is empty string
print(bool(bool_4))

False

In [ ]:
var_1=0
print(bool(var_1))

False

In [ ]:
var_2=30
print(bool(var_2))

True

In [ ]:
var_3="  " #spaces in between are some value.
print(bool(var_3))

True

In [ ]:
var_1

0

In [ ]:
print(type(var_1))

<class 'int'>

In [ ]:
x,y,z,a=10,20.4,"Hi I am A String",True
print(x)

10

In [ ]:
print(y)
print(type(z))
print(type(a))

20.4
<class 'str'>
<class 'bool'>

In [ ]:
print('hi')

hi

In [ ]:
#shift+enter "running and adding cell at a time"

# Non Primitive data types

list
tuple
set
dictionary

In [ ]:
list_first=[20,30,40.5,False,'apple']
print(list_first[4])

apple

index position are nothing but the address assigned to the element.
The process extracting any particular element using index is called indexing.
Two types:
Forward- From left to right with 0
Backward- right to left

In [ ]:
list_sec=[]  #empty list

Anything which is written inside square-bracket is called list

In [ ]:
print(list_first[2])

40.5

In [ ]:
nest= [1,2,3,4,['apple','kiwi','mango'],'abc']
print(nest[4][2])

mango

In [ ]:
print(nest[5])

abc

In [ ]:
print(nest[4][0])

apple

In [ ]:
x=[1,2,3,4,7,80,50,67,47,86,45,38,90,69,8,89,56]
print(x[-4])
print(x[-1])
print(x[-2])

69
56
89

In [ ]:
print(nest[-2][-1])

mango

In [ ]:
week=['sun','mon','tue','wed','thu','fri',['sat','sun'], 'June_30',['july_1']]

In [ ]:
print(week[-1][0])
print(week[0])
print(week[-2])
print(week[-3])
print(week[-3][-1])

july_1
sun
June_30
['sat', 'sun']
sun

In [ ]:
week[-1][-1]

'july_1'

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2[1]='golf'
print(list_2)

['basketball', 'golf', 'hockey', 30, 40, 60]

In [ ]:
list_2.append('football')
print(list_2)

['basketball', 'golf', 'hockey', 30, 40, 60, 'football']

In [ ]:
list_2.append(['python','java'])
print(list_2)

['basketball', 'golf', 'hockey', 30, 40, 60, 'football', ['python', 'java']]

In [ ]:
list_2.reverse()
print(list_2)

['hockey', 'cricket', 'basketball']

In [ ]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2.extend(['badminton','cricket',70])

In [ ]:
print(list_2)

['basketball', 'cricket', 'hockey', 30, 40, 60, 'badminton', 'cricket', 70]

In [ ]:
list_2.pop() #lat item
print(list_2)

['basketball', 'cricket', 'hockey', 30, 40, 60, 'badminton', 'cricket']

In [ ]:
list_2.pop(1) #particular position
print(list_2)

['basketball', 'hockey', 30, 40, 60]

In [ ]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2.insert(2,'golf')
print(list_2)

['basketball', 'cricket', 'golf', 'hockey', 30, 40, 60]

In [ ]:
list_2.remove('golf')

In [ ]:
print(list_2)

['basketball', 'cricket', 'hockey', 30, 40, 60]

# Index

In [ ]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2.index("cricket")

1

In [ ]:
var_1=[100,200,300,100,100]
var_1.count(100)

3

In [ ]:
len(list_2) #builtin function

6

In [ ]:
len(var_1)

5

In [ ]:
var_1.clear()
print(var_1)

[]

In [ ]:
var_1=[100,200,300,1500,800,890,5.6]
var_1.sort() #ascending

In [ ]:
print(var_1)

[5.6, 100, 200, 300, 800, 890, 1500]

In [ ]:
var_1=[100,200,300,1500,800,890,5.6]
var_1.sort(reverse=True) #descending
print(var_1)

[1500, 890, 800, 300, 200, 100, 5.6]

In [ ]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2.sort()#only number/alphabets for sorting
print(list_2)

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
list_2=['basketball','golf','cricket','hockey']
list_2.sort()
print(list_2)

['basketball', 'cricket', 'golf', 'hockey']

In [ ]:
list_2.reverse()
print(list_2)

['hockey', 'golf', 'cricket', 'basketball']

In [ ]:
list_3[50,60,78,67]
del list_3
print(list_3) #list is deleted

NameError: name 'list_3' is not defined

In [ ]:
list_2=['basketball','cricket','hockey',30,40,60]
id(list_2)

2546977911616

In [ ]:
x=list_2  #shallow copy
id(x)

2546977911616

In [ ]:
lst=[56,89,78,69,90]
copied_one=lst.copy()
id(lst)

2546977565568

In [ ]:
id(copied_one)

2546978057664

In [ ]:
tuple_1=(1,2.4,'hey there',True,[1,2,3,4])
print(tuple_1)

(1, 2.4, 'hey there', True, [1, 2, 3, 4])

In [ ]:
tuple_2=(1,2,3,4,('h','j','k','l'))#nested tuple
print(tuple_2)

(1, 2, 3, 4, ('h', 'j', 'k', 'l'))

In [ ]:
tuple_1[2]='banana' #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
list_3=['zebra','zebra','lion']
list_3[1]=90

In [ ]:
print(list_3)

['zebra', 90, 'lion']

In [ ]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# difference List and Tuple

*Lists anr mutable/editable
*Tuples are immutable/uneditable

In [ ]:
x=1,2,3,4.5,67
print(type(x))

<class 'tuple'>

In [ ]:
tuple_1=(1,2.4,'hey there',True,[1,2,3,4])

print(tuple_1[4][2])

3

In [ ]:
print(tuple_1[-1][-1])

4

In [ ]:
print(tuple_1[4][-1])

4

Indexing is extracting particular element with the help of index.
 Slicing is extracting more than one element with the hep of indexing

In [ ]:
print(tuple_1[1:4])

(2.4, 'hey there', True)

In [ ]:
#name[start:end+1]#last but one get printed

In [ ]:
tuple_1[0:3]

(1, 2.4, 'hey there')

In [ ]:
sports='badminton','basketball','tennis','chess','rugby'
type(sports)

tuple

In [ ]:
sports[3]

'chess'

In [ ]:
print(sports[2:])

('tennis', 'chess', 'rugby')

In [ ]:
print(sports[2:5]) # last+1

('tennis', 'chess', 'rugby')

In [ ]:
print(sports[:4])

('badminton', 'basketball', 'tennis', 'chess')

##Jumps

In [ ]:
sports='badminton','basketball','tennis','chess','rugby'
print(sports[0: :2])

('badminton', 'tennis', 'rugby')

In [ ]:
print(sports[0:4:3]) #3jumps excluse 2 elements
print(sports[0: :3])

('badminton', 'chess')
('badminton', 'chess')

In [ ]:
print(sports[-2:-6:-1]) # reverse/backword direction
print(sports[-2: :-1])

('chess', 'tennis', 'basketball', 'badminton')
('chess', 'tennis', 'basketball', 'badminton')

In [ ]:
print(sorted(sports))# It converts output as list

['badminton', 'basketball', 'chess', 'rugby', 'tennis']

In [ ]:
x=1,2,3,4.5,67
print(sorted(x,reverse=True))

[67, 4.5, 3, 2, 1]

#descending order but gives answer in the format of list

 in list we use method but in tuple there is no method only built in function.

#Garbage collection study in notes

# Sets

In [ ]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
set_1={1,4.5,True,'hey there I am set',['h','i','j','k']}

TypeError: unhashable type: 'list'

Lists, set,dictionary are not allowed in sets.

In [ ]:
Set_1={1,4.5,True,'hey there I am set',('h','i','j','k')}
print(Set_1)

{1, ('h', 'i', 'j', 'k'), 4.5, 'hey there I am set'}

Tuples,float,intigers,strings are the datatype allowed in set

In [ ]:
print(set_1)

{1, 4.5}

In [ ]:
x={} #empty set declaired as dictionary
print(type(x))

<class 'dict'>

In [ ]:
set_2={1,2.3,2,2.0,True,False} #it won't print duplicate values.i.e.True and 1 are same

In [ ]:
print(set_2)

{False, 1, 2.3, 2}

In [ ]:
set_3={True, False, 0,1,2.5}
print(set_3)

{False, True, 2.5}

In [ ]:
set_new={1,2,3,4,5,7} #can add single element
set_new.add('wow')
print(set_new)

{1, 2, 3, 4, 5, 7, 'wow'}

In [ ]:
set_new.discard(7)#deletes element from set
print(set_new)

{1, 2, 3, 4, 5, 'wow'}

In [ ]:
#we cannot replace the element in set

In [ ]:
list_10=[1,2,3,4]
list_11=[5,6,7,8]
print(list_10+list_11)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
set_4={1,2,3,4,5,7}
set_5={5,6,7,False,8,True,10}
print(set_4+set_5) #cannot add like list

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
print(set_4.union(set_5)) #duplicates are removed

{False, 1, 2, 3, 4, 5, 6, 7, 8, 10}

In [ ]:
set_4.intersection(set_5)

{1, 5, 7}

In [ ]:
set_4.difference(set_5)#it will print uncommon elements of first set

{2, 3, 4}

In [ ]:
set_5.difference(set_4)

{False, 6, 8, 10}

In [ ]:
print(set_4.symmetric_difference(set_5))

{False, 2, 3, 4, 6, 8, 10}

prints both set's uncommon elements

# Dict(dictionary)

syntax
dict={key:value,key:value,.......}

In [ ]:
dict_profile={'name':'Minal''Sonal','Age':'22','subject':'Python'}
print(dict_profile)

{'name': 'MinalSonal', 'Age': '22', 'subject': 'Python'}

In [ ]:
dict_profile['Age']

'22'

In [ ]:
dict_profile.keys()

dict_keys(['name', 'Age', 'subject'])

In [ ]:
dict_profile.values()

dict_values(['Minal', '22', 'Python'])

In [ ]:
dict_profile={'name':'Minal','Age':'22','subject':'Python','name':'Shiva'}
print(dict_profile)

{'name': 'Shiva', 'Age': '22', 'subject': 'Python'}

In [ ]:
#It override the name value minal with the recent value shiva
#i.e. 'name': 'Shiva'

In [ ]:
new_dict={10:"abc",2.3:'rty',True:'rty',(123):'tyu'}
print(new_dict)

{10: 'abc', 2.3: 'rty', True: 'rty', 123: 'tyu'}

In [ ]:
dict_profile={'name':'Minal''Sonal','Age':'22','subject':'Python'}
dict_profile['name']='Megha'

In [ ]:
print(dict_profile)

{'name': 'Megha', 'Age': '22', 'subject': 'Python'}

In [ ]:
dict_profile={'name':'Minal','Age':'22','subject':'Python'}
print(dict_profile)

{'name': 'Minal', 'Age': '22', 'subject': 'Python'}

In [ ]:
dict_profile['key1']='new'
print(dict_profile)

{'name': 'Minal', 'Age': '22', 'subject': 'Python', 'key1': 'new'}

In [ ]:
dict_up={1:[1,2,3,4], 2:(10,20,30)}
print(dict_up)

{1: [1, 2, 3, 4], 2: (10, 20, 30)}

In [ ]:
print(dict_up.update(dict_profile))

None

In [ ]:
dict_up.update(dict_profile)
dict_up

{1: [1, 2, 3, 4],
 2: (10, 20, 30),
 'name': 'Minal',
 'Age': '22',
 'subject': 'Python'}

In [ ]:
dict_profile.update(dict_up)
dict_profile

{'name': 'Minal',
 'Age': '22',
 'subject': 'Python',
 1: [1, 2, 3, 4],
 2: (10, 20, 30)}

In [ ]:
dict_profile.pop(1)

[1, 2, 3, 4]

In [ ]:
dict_profile.pop('name')

'Minal'

#### %b in python

In [ ]:
import datetime

today = datetime.datetime.today()
print(f"{today:%B %d, %Y}")

July 19, 2023

### f "string"

In [ ]:
val = 'Geeks'
print(f"{val}for{val} is a portal for {val}.")


name = 'Tushar'
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

GeeksforGeeks is a portal for Geeks.
Hello, My name is Tushar and I'm 23 years old.

In [ ]:
set_1 = set({2, 4, 6})
print(f'Set before removing: {set_1}')
set_1.remove(2)
set_1.remove(6)
print(f'Set after removing: {set_1}')

Set before removing: {2, 4, 6}
Set after removing: {4}

In [ ]:
#Condition Checking:
first=int(input("Enter first number"))
second=int(input("Enter second number"))
sum=first+second
print("sum is greater than 5:",sum>5)
print("sum is less than 5:",sum<5)
print("sum is equal to 5:",sum==5)

Enter first number6
Enter second number7
sum is greater than 5: True
sum is less than 5: False
sum is equal to 5: False

In [ ]:
print (not(True and True))
print (True or True)
print (not(False and False))
print (False and False)

False
True
True
False