Data Types

In [2]:
#string
my_address = "Bangalore"
my_address

'Bangalore'

In [3]:
#integer
int_1=-50
print(int_1) #print the output

-50

In [4]:
print(type(int_1))

<class 'int'>

In [5]:
#float/decimal
float_1=40.0
print(float_1)

40.0

In [6]:
bool_2=True
bool_3=False
print(bool_2)
print(bool_3)

True
False

In [7]:
bool_4="" #without space it is empty string
print(bool(bool_4))

False

**Non Primitive data types**

List

In [8]:
list_first=[20,30,40.5,False,'apple']
print(list_first[4])

apple

In [9]:
print(list_first[2])

40.5

In [10]:
#nested list
nest= [1,2,3,4,['apple','kiwi','mango'],'abc']
print(nest[4][2])

mango

In [11]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2[1]='golf'
print(list_2)

['basketball', 'golf', 'hockey', 30, 40, 60]

In [12]:
list_2.append('football')
print(list_2)

['basketball', 'golf', 'hockey', 30, 40, 60, 'football']

In [13]:
list_2.reverse()
print(list_2)

['football', 60, 40, 30, 'hockey', 'golf', 'basketball']

In [14]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2.extend(['badminton','cricket',70])

In [15]:
list_2

['basketball', 'cricket', 'hockey', 30, 40, 60, 'badminton', 'cricket', 70]

In [16]:
list_2.pop() #lsat item
print(list_2)

['basketball', 'cricket', 'hockey', 30, 40, 60, 'badminton', 'cricket']

In [17]:
list_2.pop(1) #particular position
print(list_2)

['basketball', 'hockey', 30, 40, 60, 'badminton', 'cricket']

In [18]:
list_2=['basketball','cricket','hockey',30,40,60]
list_2.insert(2,'golf')
print(list_2)

['basketball', 'cricket', 'golf', 'hockey', 30, 40, 60]

In [19]:
list_2.remove('golf')
print(list_2)

['basketball', 'cricket', 'hockey', 30, 40, 60]

In [20]:
#Index
list_2=['basketball','cricket','hockey',30,40,60]
list_2.index("cricket")

1

In [22]:
var_1=[100,200,300,1500,800,890,5.6]
var_1.sort() #descending
print(var_1)

[5.6, 100, 200, 300, 800, 890, 1500]

In [25]:
list_3=[50,60,78,67]
print(list_3)

[50, 60, 78, 67]

In [26]:
del list_3
print(list_3) #list is deleted

NameError: name 'list_3' is not defined

In [43]:
list_10=[1,2,3,4]
list_11=[5,6,7,8]
print(list_10+list_11)

[1, 2, 3, 4, 5, 6, 7, 8]

Tuples

In [27]:
tuple_1=(1,2.4,'hey there',True,[1,2,3,4])
print(tuple_1)

(1, 2.4, 'hey there', True, [1, 2, 3, 4])

In [28]:
tuple_2=(1,2,3,4,('h','j','k','l'))#nested tuple
print(tuple_2)

(1, 2, 3, 4, ('h', 'j', 'k', 'l'))

In [30]:
tuple_1[2]='banana' #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [31]:
x=1,2,3,4.5,67
print(type(x))

<class 'tuple'>

In [32]:
print(tuple_1[-1][-1])

4

In [33]:
#Indexing is extracting particular element with the help of index. Slicing is extracting more than one element with the hep of indexing

In [34]:
print(tuple_1[1:4])

(2.4, 'hey there', True)

In [35]:
#Jumps
sports='badminton','basketball','tennis','chess','rugby'
print(sports[0: :2])

('badminton', 'tennis', 'rugby')

In [36]:
print(sports[-2:-6:-1]) # reverse/backword direction
print(sports[-2: :-1])

('chess', 'tennis', 'basketball', 'badminton')
('chess', 'tennis', 'basketball', 'badminton')

In [37]:
print(sorted(sports))# It converts output as list

['badminton', 'basketball', 'chess', 'rugby', 'tennis']

In [38]:
x=1,2,3,4.5,67
print(sorted(x,reverse=True))

[67, 4.5, 3, 2, 1]

Set

In [39]:
Set_1={1,4.5,True,'hey there I am set',('h','i','j','k')}
print(Set_1)

{1, 4.5, 'hey there I am set', ('h', 'i', 'j', 'k')}

In [40]:
x={} #empty set declaired as dictionary
print(type(x))

<class 'dict'>

In [41]:
set_2={1,2.3,2,2.0,True,False} #it won't print duplicate values.i.e.True and 1 are same
print(set_2)

{False, 1, 2.3, 2}

In [42]:
set_new={1,2,3,4,5,7} #can add single element
set_new.add('wow')
print(set_new)

{1, 2, 3, 4, 5, 'wow', 7}

In [44]:
set_4={1,2,3,4,5,7}
set_5={5,6,7,False,8,True,10}
print(set_4+set_5) #cannot add like list

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [45]:
print(set_4.union(set_5)) #duplicates are removed

{False, 1, 2, 3, 4, 5, 6, 7, 8, 10}

In [46]:
set_4.intersection(set_5)

{1, 5, 7}

In [47]:
set_4.difference(set_5)#it will print uncommon elements of first set

{2, 3, 4}

In [48]:
print(set_4.symmetric_difference(set_5))

{False, 2, 3, 4, 6, 8, 10}

Dict(dictionary)

In [49]:
dict_profile={'name':'Minal''Sonal','Age':'22','subject':'Python'}
print(dict_profile)

{'name': 'MinalSonal', 'Age': '22', 'subject': 'Python'}

In [50]:
dict_profile['Age']

'22'

In [51]:
dict_profile.keys()

dict_keys(['name', 'Age', 'subject'])

In [52]:
dict_profile.values()

dict_values(['MinalSonal', '22', 'Python'])

In [53]:
#It override the name value minal with the recent value shiva
#i.e. 'name': 'Shiva'
dict_profile={'name':'Minal','Age':'22','subject':'Python','name':'Shiva'}
print(dict_profile)

{'name': 'Shiva', 'Age': '22', 'subject': 'Python'}

In [54]:
dict_profile={'name':'Minal''Sonal','Age':'22','subject':'Python'}
dict_profile['name']='Megha'
print(dict_profile)

{'name': 'Megha', 'Age': '22', 'subject': 'Python'}

In [55]:
dict_profile['key1']='new'
print(dict_profile)

{'name': 'Megha', 'Age': '22', 'subject': 'Python', 'key1': 'new'}

In [56]:
dict_up={1:[1,2,3,4], 2:(10,20,30)}
print(dict_up)

{1: [1, 2, 3, 4], 2: (10, 20, 30)}

In [57]:
dict_up.update(dict_profile)
print(dict_up)

{1: [1, 2, 3, 4], 2: (10, 20, 30), 'name': 'Megha', 'Age': '22', 'subject': 'Python', 'key1': 'new'}

In [58]:
dict_profile.pop('name')

'Megha'